<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.racer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:label="@string/app_name"
            android:name="rs.projecta.activity.Main_Activity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="Racer"
            android:name="rs.projecta.activity.Play_Activity">
        </activity>
        
        <activity
            android:label="Level Completed"
            android:name="rs.projecta.activity.Finish_Activity">
        </activity>
      
    </application>

</manifest>
